{% extends "index.html" %}
{% load static %}
{% block content %}
        <section class="page-header">
            <div class="page-header__bg" style="background-image: url({% static 'images/backgrounds/page-header-bg.jpg' %});"></div>
            <div class="container">
                <div class="page-header__content">
                    <h2 class="page-header__title"> Technology</h2>
                    <ul class="aigence-breadcrumb list-unstyled">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><span> Technology</span></li>
                    </ul><!-- /.aigence-breadcrumb list-unstyled -->
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="services-page section-space">
            <div class="container">
                <div class="row gutter-y-30">
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                        <div class="service-card-three">
                            <div class="service-card-three__bg">
                                <img src="{% static 'images/shapes/service-card-shape-3-1.png' %}" alt="shape" class="service-card-three__shape">
                            </div><!-- /.service-card-three__bg -->
                            <div class="service-card-three__content">
                                <h3 class="service-card-three__title"><a href="{% url 'service-details' %}">Backend <br> Technology</a></h3>
                                <img src="{% static 'images/services/backend.png' %}" alt="AI-Data <br> Analytics" class="service-card-three__image">
                                            <ul class="service-card-three__text two-column-list">
                                                <li>Python</li>
                                                <li>Java</li>
                                                <li>Node</li>
                                                <li>PHP</li>
                                                <li>Go</li>
                                                <li>Rust</li>
                                            </ul> <a href="{% url 'service-details' %}" class="service-card-three__btn">
                                    <span class="service-card-three__btn__icon"><i class="icon-right-arrow"></i></span>
                                </a><!-- /.service-card-three__btn -->
                            </div><!-- /.service-card-three__content -->
                        </div><!-- /.service-card-three -->
                    </div><!-- /.col-xl-4 col-md-6 -->
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                        <div class="service-card-three">
                            <div class="service-card-three__bg">
                                <img src="{% static 'images/shapes/service-card-shape-3-1.png' %}" alt="shape" class="service-card-three__shape">
                            </div><!-- /.service-card-three__bg -->
                            <div class="service-card-three__content">
                                <h3 class="service-card-three__title"><a href="{% url 'service-details' %}">Frontend <br> Technology</a></h3>
                                <img src="{% static 'images/services/frontend.png' %}" alt="AI <br> Development" class="service-card-three__image">
                                            <ul class="service-card-three__text two-column-list">
                                                <li>React</li>
                                                <li>JavaScript</li>
                                                <li>Angular</li>
                                                <li>Vue.js</li>
                                                <li>Next.js</li>
                                                <li>HTML</li>
                                            </ul> <a href="{% url 'service-details' %}" class="service-card-three__btn">
                                    <span class="service-card-three__btn__icon"><i class="icon-right-arrow"></i></span>
                                </a><!-- /.service-card-three__btn -->
                            </div><!-- /.service-card-three__content -->
                        </div><!-- /.service-card-three -->
                    </div><!-- /.col-xl-4 col-md-6 -->
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                        <div class="service-card-three">
                            <div class="service-card-three__bg">
                                <img src="{% static 'images/shapes/service-card-shape-3-1.png' %}" alt="shape" class="service-card-three__shape">
                            </div><!-- /.service-card-three__bg -->
                            <div class="service-card-three__content">
                                <h3 class="service-card-three__title"><a href="{% url 'service-details' %}">Mobile <br> Technology</a></h3>
                                <img src="{% static 'images/services/mobile.png' %}" alt="AI-Design <br> Mystery" class="service-card-three__image">
                                            <ul class="service-card-three__text two-column-list">
                                                <li>React Native</li>
                                                <li>Flutter</li>
                                                <li>Kotlin</li>
                                                <li>Swift</li>
                                                <li>ionic</li>
                                                <li>And/Ios</li>
                                            </ul><a href="{% url 'service-details' %}" class="service-card-three__btn">
                                    <span class="service-card-three__btn__icon"><i class="icon-right-arrow"></i></span>
                                </a><!-- /.service-card-three__btn -->
                            </div><!-- /.service-card-three__content -->
                        </div><!-- /.service-card-three -->
                    </div><!-- /.col-xl-4 col-md-6 -->
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                        <div class="service-card-three">
                            <div class="service-card-three__bg">
                                <img src="{% static 'images/shapes/service-card-shape-3-1.png' %}" alt="shape" class="service-card-three__shape">
                            </div><!-- /.service-card-three__bg -->
                            <div class="service-card-three__content">
                                <h3 class="service-card-three__title"><a href="{% url 'service-details' %}">AI <br>Database</a></h3>
                                <img src="{% static 'images/services/database.png' %}" alt="AI <br> Integration" class="service-card-three__image">
                                            <ul class="service-card-three__text two-column-list">
                                                <li>MongoDB</li>
                                                <li>PostgreSQL</li>
                                                <li>Firebase</li>
                                                <li>MySQL</li>
                                                <li>Oracle</li>
                                                
                                            </ul><a href="{% url 'service-details' %}" class="service-card-three__btn">
                                    <span class="service-card-three__btn__icon"><i class="icon-right-arrow"></i></span>
                                </a><!-- /.service-card-three__btn -->
                            </div><!-- /.service-card-three__content -->
                        </div><!-- /.service-card-three -->
                    </div><!-- /.col-xl-4 col-md-6 -->
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                        <div class="service-card-three">
                            <div class="service-card-three__bg">
                                <img src="{% static 'images/shapes/service-card-shape-3-1.png' %}" alt="shape" class="service-card-three__shape">
                            </div><!-- /.service-card-three__bg -->
                            <div class="service-card-three__content">
                                <h3 class="service-card-three__title"><a href="{% url 'service-details' %}">AI <br> Testing</a></h3>
                                <img src="{% static 'images/services/testing.png' %}" alt="AI <br> Chatbots" class="service-card-three__image">
                                           <ul class="service-card-three__text two-column-list">
                                                <li>Selenium</li>
                                                <li>Cypress</li>
                                                <li>Postman</li>
                                                <li>Swagger </li>
                                                <li> </li>
                                                
                                            </ul> <a href="{% url 'service-details' %}" class="service-card-three__btn">
                                    <span class="service-card-three__btn__icon"><i class="icon-right-arrow"></i></span>
                                </a><!-- /.service-card-three__btn -->
                            </div><!-- /.service-card-three__content -->
                        </div><!-- /.service-card-three -->
                    </div><!-- /.col-xl-4 col-md-6 -->
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                        <div class="service-card-three">
                            <div class="service-card-three__bg">
                                <img src="{% static 'images/shapes/service-card-shape-3-1.png' %}" alt="shape" class="service-card-three__shape">
                            </div><!-- /.service-card-three__bg -->
                            <div class="service-card-three__content">
                                <h3 class="service-card-three__title"><a href="{% url 'service-details' %}">cloude & <br> DevOps</a></h3>
                               <img src="{% static 'images/services/cloud.png' %}" alt="AI-Driven <br> Automation" class="service-card-three__image">
                                            <ul class="service-card-three__text two-column-list">
                                                <li>AWS</li>
                                                <li>Azure</li>
                                                <li>Digital Ocean</li>
                                                <li>HTML5</li>
                                                <li>CSS3</li>
                                                <li>Bootstrap</li>
                                            </ul> <a href="{% url 'service-details' %}" class="service-card-three__btn">
                                    <span class="service-card-three__btn__icon"><i class="icon-right-arrow"></i></span>
                                </a><!-- /.service-card-three__btn -->
                            </div><!-- /.service-card-three__content -->
                        </div><!-- /.service-card-three -->
                    </div><!-- /.col-xl-4 col-md-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.services-page section-space -->

        <section class="newsletter ">
            <div class="newsletter__wrapper">
                <div class="newsletter__inner">
                    <div class="newsletter__bg" style="background-image: url({% static 'images/shapes/newsletter-bg-shape-1-1.png' %});"></div><!-- /.newsletter__bg -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 order-1 order-lg-0 wow fadeInLeft" data-wow-duration="1500ms">
                                <div class="newsletter__image">
                                    <img src="{% static 'images/resources/newsletter-1-1.png' %}" alt="newsletter">
                                </div><!-- /.newsletter__image -->
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-6 order-0 order-lg-1 wow fadeInUp" data-wow-duration="1500ms">
                                <div class="newsletter__content">
                                    <h2 class="sec-title bw-split-in-left">Join our AI-driven Creative Community!</h2><!-- /.sec-title -->
                                    <div class="customers">
                                        <div class="customers__inner">
                                            <div class="customers__image">
                                                <img src="{% static 'images/resources/customer-1.png' %}" alt="customer">
                                                <img src="{% static 'images/resources/customer-2.png' %}" alt="customer">
                                                <img src="{% static 'images/resources/customer-3.png' %}" alt="customer">
                                                <img src="{% static 'images/resources/customer-4.png' %}" alt="customer">
                                                <img src="{% static 'images/resources/customer-5.png' %}" alt="customer">
                                            </div><!-- /.customers__image -->
                                        </div><!-- /.customers__inner -->
                                        <p class="customers__text">3860 weekly subscribe</p>
                                    </div><!-- /.customers -->
                                    <form action="#" data-url="MAILCHIMP_FORM_URL" class="newsletter__form mc-form">
                                        <input type="email" name="EMAIL" placeholder="Email Address">
                                        <button type="submit" class="aigence-btn">
                                            <span class="aigence-btn__text">Subscribe</span>
                                        </button>
                                    </form><!-- /. mc-form -->
                                    <div class="mc-form__response"></div><!-- /.mc-form__response -->
                                    <div class="newsletter__check-box">
                                        <input type="checkbox" name="agree" id="agree">
                                        <label for="agree">I Agree To The Terms, Privacy Policy.<span></span></label>
                                    </div><!-- /.newsletter__check-box -->
                                </div><!-- /.newsletter__content -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row gutter-y-40 -->
                    </div><!-- /.container -->
                    <img src="{% static 'images/shapes/newsletter-shape-1-1.png' %}" alt="shape" class="newsletter__shape">
                </div><!-- /.newsletter__inner -->
            </div><!-- /.newsletter__wrapper -->
        </section><!-- /.newsletter -->

 </br></br></br></br>

 {% endblock %}